body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: #e0f5e0;
    margin: 4px;
}
#myself{
    margin: 2px;
}
#myself img{
    width: 250px;
    height: auto;
    float: right;
    margin-left: 10px;
    border-radius: 10px;

}
#myself p{
    text-align:justify;
}
#header {
    text-align: center;
}
#header h1{
    color: rgb(0, 255, 51);
    font-weight: bolder;
}
#parent-container{
    display: grid;
    grid-template-columns: 30% 15% 1fr 15%;
    grid-template-rows: 100px 1fr 1fr 100px;
    grid-template-areas: "one two two two"
                        "three four four five"
                        "three six seven seven"
                        "three eight eight eight";
                        
    height: 100vh;
}
.child-container
{
    background-color: #b6edfc;
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin: 2px;
}
.area-1{
    grid-area: one;
    display: flex;
    padding: 0px;
    /* centering the flex child */
    justify-content: center;

}
.area-1 img {
    height: 100%;
    width: auto;
}
.area-2{
    grid-area: two;
    display: flex;
    row-gap: 0px;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}
.area-2 img{
    height: 40%;
    width: auto;
    padding-right: 10px;
    vertical-align: middle;
}
.area-2 h4{
    margin: 0;
}
.area-3{
    grid-area: three;
    padding: 0px;
}
.area-3 ol{
    list-style:lower-roman ;
    padding-left: 30px;
}
.area-3 ol>li
{
    font-size: 14px;
}
table,th{
    width: 100%;
}
table{
    height: 100%;
}

tr{
    height: auto;
}

table, th, td {
    border:1px solid #b6edfc;
    text-align: center;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: whitesmoke;
    color: black
}
tr:nth-child(odd ) {
    background-color: wheat;
    color: black;
}
tr:nth-child(1)
{
    color: white;
    background-color: black;
}

.area-4{
    padding: 0;
    border-radius: 0%;
    grid-area: four;
}
.area-5{
    grid-area: five;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;

}
.area-5 img{
    width: 100%;
    height:auto;
}
.area-6{
    grid-area: six;
}
.area-6 ul{
    list-style: square;
}
.area-6 ul li{
    padding :10px 0px;
}
.area-6 a{
    text-decoration: none;
    color: black;
}
.area-6 a:visited{
    color: inherit;
}
.area-6 a:hover{
    background-color: white;
}
.area-7{
    grid-area: seven;
}
.area-7 a{
    text-decoration: none;
    color:black 
    
}
.area-7 a:visited{
    color: inherit;
    
}
.area-8{
    grid-area: eight;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.area-8 a > img{
    width: auto;
    height: 80px;
}